flows_raspberrypi.json
[{"id":"62aa2117.88cfe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b51bfb0d.5f2b18","type":"firebase admin","z":"","name":"iotruuviweatherstation"},{"id":"5aad58cb.317f08","type":"ruuvitag","z":"62aa2117.88cfe","name":"","x":480,"y":280,"wires":[["b0fb1ac0.76f828"]]},{"id":"5cdc64b7.03c2bc","type":"scan ble","z":"62aa2117.88cfe","uuids":"","duplicates":false,"name":"","x":330,"y":200,"wires":[["5aad58cb.317f08"]]},{"id":"d4cfafaa.ba9b4","type":"inject","z":"62aa2117.88cfe","name":"","topic":"start scan","payload":"{\"scan\":true}","payloadType":"json","repeat":"1200","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":440,"wires":[["5cdc64b7.03c2bc"]]},{"id":"fdf7396e.895658","type":"debug","z":"62aa2117.88cfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":360,"wires":[]},{"id":"d8af59a9.b3a2b8","type":"inject","z":"62aa2117.88cfe","name":"","topic":"","payload":"{\"scan\":false}","payloadType":"json","repeat":"1200","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":120,"wires":[["e99c5440.07c568"]]},{"id":"e99c5440.07c568","type":"delay","z":"62aa2117.88cfe","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":220,"wires":[["5cdc64b7.03c2bc"]]},{"id":"b0fb1ac0.76f828","type":"json","z":"62aa2117.88cfe","name":"","property":"payload","action":"","pretty":false,"x":410,"y":360,"wires":[["95d6d926.0dcb38"]]},{"id":"94dba20f.e15b8","type":"inject","z":"62aa2117.88cfe","name":"firestore get","topic":"","payload":"firestore","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":960,"wires":[["a1065cd.1a6e0a"]]},{"id":"434356aa.a11bf8","type":"debug","z":"62aa2117.88cfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":980,"wires":[]},{"id":"a1065cd.1a6e0a","type":"Firestore in","z":"62aa2117.88cfe","name":"get iot device","collection":"iotdevices","group":false,"document":"","realtime":false,"query":[],"admin":"b51bfb0d.5f2b18","x":400,"y":840,"wires":[["434356aa.a11bf8"]]},{"id":"d8cc116a.c5144","type":"Firestore out","z":"62aa2117.88cfe","name":"Add device","collection":"iotdevices","document":"","operation":"add","admin":"b51bfb0d.5f2b18","x":360,"y":680,"wires":[["94fe246c.2cd738"]]},{"id":"94fe246c.2cd738","type":"debug","z":"62aa2117.88cfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":640,"wires":[]},{"id":"48735c1f.3dfa94","type":"inject","z":"62aa2117.88cfe","name":"Add new device","topic":"","payload":"{\"description\":\"makuuhuone\",\"gpslocation\":{\"_latitude\":65.0440223,\"_longitude\":25.4247773},\"isActive\":true,\"mac\":\"d9:dc:b6:b1:52:6c\",\"title\":\"Makuuhuone\",\"type\":\"weather station\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":640,"wires":[["d8cc116a.c5144"]]},{"id":"379fd54f.67aefa","type":"Firestore out","z":"62aa2117.88cfe","name":"Add measurement","collection":"devicemeasurements","document":"","operation":"add","admin":"b51bfb0d.5f2b18","x":370,"y":560,"wires":[[]]},{"id":"d9c68a07.93e9c8","type":"inject","z":"62aa2117.88cfe","name":"","topic":"get device doc ref","payload":"firestore","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1060,"wires":[["af312d1a.d5f26"]]},{"id":"af312d1a.d5f26","type":"Firestore in","z":"62aa2117.88cfe","name":"get device doc ref","collection":"iotdevices","group":false,"document":"","realtime":false,"query":[{"where":{"field":"mac","operation":"==","value":"ee:f1:04:e5:9d:b4"}}],"admin":"b51bfb0d.5f2b18","x":330,"y":1140,"wires":[["374ca48a.7d5e4c"]]},{"id":"374ca48a.7d5e4c","type":"debug","z":"62aa2117.88cfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":1120,"wires":[]},{"id":"95d6d926.0dcb38","type":"function","z":"62aa2117.88cfe","name":"add device ref","func":"\nswitch(msg.payload.mac){\n    case \"ee:f1:04:e5:9d:b4\": {\n        msg.payload[\"deviceRef\"] = \"iotdevices/AfSz8o8BQBmQBkbyV2Hl\";\n        break;\n    }\n    case \"df:df:a6:20:20:6c\":{\n        msg.payload[\"deviceRef\"] = \"iotdevices/J3r6tJJT97K91LKL0al6\";\n        break;\n    }\n    case \"e8:1e:f7:d5:1c:7a\":{\n        msg.payload[\"deviceRef\"] = \"iotdevices/MsNJ3U7aFRmkepJkuuPZ\";\n        break;\n    }\n    case \"d9:dc:b6:b1:52:6c\":{\n        msg.payload[\"deviceRef\"] = \"iotdevices/PumD70vvSv11yktM0Xkw\";\n        break;\n    }\n    case \"ec:7a:3e:60:98:a7\":{\n        msg.payload[\"deviceRef\"] = \"iotdevices/VYF4ewLrcuLSP2Ngbarg\";\n        break;\n    }\n    case \"c0:f6:bf:85:47:64\":{\n        msg.payload[\"deviceRef\"] = \"iotdevices/cNmFdwZsTMRMx56pCiL1\";\n        break;\n    }\n    default:\n    return;\n}\ndelete msg.payload[\"mac\"];\nmsg.payload[\"time\"] = new Date();\n \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["379fd54f.67aefa","fdf7396e.895658"]]}]